{% extends 'portfolio/base.html' %}

{% block content %}
<section id="skills-section" class="py-5">
    <div class="container text-center">
        <h2 class="mb-5 heading-decorated" data-aos="fade-up">My Skills</h2>
        <div class="row">
            {% for skill in skills %}
            <div class="col-md-4 mb-4" data-aos="zoom-in">
                <div class="glass-card p-3">
                     <img src="{{ skill.icon.url }}" class="img-fluid mb-2" width="60" height="60" alt="{{ skill.name }}">
                    <h5>{{ skill.name }}</h5>
                    <p class="text-muted">{{ skill.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}